.user-png{
    width: 32px;
    height: 32px;
}

#todo-color {
    color: rgb(245, 47, 47);
    size: 5px;
    scrollbar-width: 20px;
    position: static;
    font-weight: bold;
    
}

#todo-color:hover {
    color: red;
  }

.btn-nav{
    background-color: red;
    font-weight: bold;
    border-radius: 10px;
    color: white !important;
}